exportPattern("^[^x]")
importFrom(rstan, extract)
importFrom(rstan, sflist2stanfit)
importFrom(rstan, summary)
importFrom(rstan, traceplot)
importFrom(rstan, stan_diag)
importClassesFrom(rstan)
importFrom(graphics, "matplot")
importFrom(graphics, "abline")
importFrom(graphics, "points")
importFrom(graphics, "text")
importFrom(graphics, "hist")
importFrom(graphics, "lines")
importFrom(graphics, "plot")
importClassesFrom(methods)
importFrom(stats, "sd")
importFrom(stats, "density")
importFrom(stats, "median")
importClassesFrom(ggplot2)
importFrom(ggplot2, "ggplot")
importFrom(ggplot2, "stat_density")
importFrom(ggplot2, "aes_")
importFrom(ggplot2, "aes")
exportClasses(bayesvl)
