#exportPattern("^[^x]")
#exportClasses(bayesvl)
export(bayesvl, bvl_addNode)
export(bayesvl, bvl_addArc)
export(bayesvl, bvl_plotParams)
export(bayesvl, bvl_plotIntervals)
export(bayesvl, bvl_plotAreas)
export(bayesvl, bvl_plotPairs)
export(bayesvl, bvl_plotDensity)
export(bayesvl, bvl_plotTrace)
export(bayesvl, bvl_plotGelman)
export(bayesvl, bvl_plotGelmans)
export(bayesvl, bvl_plotAcfs)
export(bayesvl, bvl_plotTest)
export(bayesvl, bvl_plotDiag)
export(bayesvl, bvl_model2Stan)
export(bayesvl, bvl_modelFit)
export(bayesvl, bvl_stanPriors)
export(bayesvl, bvl_stanParams)
export(bayesvl, bvl_bnPlot)
export(bayesvl, bvl_formula)
export(bayesvl, bvl_bnBayes)
export(bayesvl, bvl_bnScore)
export(bayesvl, bvl_bnStrength)
export(bayesvl, bvl_bnBarchart)
#
importFrom(rstan, extract)
importFrom(rstan, sflist2stanfit)
importFrom(rstan, summary)
importFrom(rstan, traceplot)
importFrom(rstan, stan_diag)
importFrom(coda, effectiveSize)
importClassesFrom(rstan)
importClassesFrom(StanHeaders)
importFrom(graphics, "matplot")
importFrom(graphics, "abline")
importFrom(graphics, "points")
importFrom(graphics, "text")
importFrom(graphics, "hist")
importFrom(graphics, "lines")
importFrom(graphics, "plot")
importFrom(graphics, "par")
importClassesFrom(methods)
importFrom(stats, "sd")
importFrom(stats, "density")
importFrom(stats, "median")
importFrom(stats, "acf")
importClassesFrom(ggplot2)
importFrom(ggplot2, "ggplot")
importFrom(ggplot2, "stat_density")
importFrom(ggplot2, "aes_")
importFrom(ggplot2, "aes")
importFrom(ggplot2, "aes_string")
importFrom(ggplot2, "geom_point")
importFrom(ggplot2, "geom_abline")
importFrom(ggplot2, "geom_density")
importFrom(ggplot2, "geom_density2d")
importFrom(ggplot2, "scale_color_manual")
importFrom(ggplot2, "labs")
importFrom(reshape2, "melt")
importFrom(bayesplot, "color_scheme_get")
importFrom(bayesplot, "ppc_dens_overlay")
importFrom(bayesplot, "xaxis_title")
importFrom(bayesplot, "yaxis_title")
importFrom(bayesplot, "yaxis_text")
importFrom(bayesplot, "yaxis_ticks")
